$max_w1: 769px;
$delay: 50ms;

button.clean {
    font-size: 100%;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}

/* FANCY BUTTON HOLDER */
.fancy_button_holder {
	height: 200px;
	display: grid;
	align-items: center;
    justify-content: center;
    // justify-items: stretch;
}

/* FANCY AND SIMPLE BUTTONS */
.fancy_button, .simple_button {
	background-color: #03A9F4;
	color: #fff;
	text-shadow: none;
	font-weight: bold;

	width: 200px;
	height: 50px;
	line-height: 50px;
	margin: 0px 20px;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0px 2px 6px #0004;

	cursor: pointer;
	vertical-align: middle;
	box-sizing: border-box;

	position: relative;
	z-index: 5;
	overflow: hidden;

	@media screen and (max-width: $max_w1) {
		margin-top: 15px;
	}
}

.simple_button, .simple_button::after {
	transition: transform 500ms $delay cubic-bezier(.87,-.41,.19,1.44);
}

.fancy_button {
	transition: height 500ms $delay cubic-bezier(.87,-.41,.19,1.44), 
		border-radius 500ms $delay cubic-bezier(.87,-.41,.19,1.44),
		color 500ms $delay cubic-bezier(.87,-.41,.19,1.44);
}

.fancy_button::after, .simple_button::after {
	content: " ";
	display: block;
	width: 200px;
	height: 50px;
	// background-image: url('../img/whitelist_icon.png');
	background-size: auto 100%;
	/*@media screen and (max-width: $max_w1) {
		background-size: auto 100%;
	}*/
	background-repeat: no-repeat;
	background-position: left;

	opacity: 1;

	position: absolute;
	left: 0px; right: 0px;
	vertical-align: middle;
	margin: auto;
	top: 0px; 
	bottom: 0px;
}

.fancy_button::after {
	transition: opacity 500ms $delay ease-in-out, height 500ms $delay cubic-bezier(.87,-.41,.19,1.44);
}

.fancy_button:hover {
	@media screen and (min-width: $max_w1) {
		height: 200px;
		border-radius: 200px;
		color: #fff0;
	}
}

.fancy_button:hover::after {
	opacity: 1;
	@media screen and (min-width: $max_w1) {
		height: 200px;
	}
}

.simple_button:hover {
	transform: scale(1.1);
}
.simple_button:hover::after {
	transform: scale(0.90909090);
}

// tan(14 deg) == 1/4
//180 - 14 = 166
//135deg 

.fancy_button.forum, .simple_button.return {
	background: linear-gradient(135deg, #03b3f6 0%, #03b3f6 50%, #03A9F4 50%, #03A9F4 100%);
}

.fancy_button.whitelist, .simple_button.check {
	background: linear-gradient(135deg, #96ca54 0%, #96ca54 50%, #8BC34A 50%, #8BC34A 100%);
}

.fancy_button.discord {
	background: linear-gradient(135deg, #8c9eff 0%, #8c9eff 50%, #8192e9 50%, #8192e9 100%);
}

.fancy_button.rules {
	background: linear-gradient(135deg, #f65746 0%, #f65746 50%, #f44336 50%, #f44336 100%);
}

.forum::after 		{	background-image: url('../img/forum_icon.png');			}
.discord::after 	{	background-image: url('../img/discord_icon.png');		}
.whitelist::after 	{	background-image: url('../img/whitelist_icon.png');		}
.rules::after 		{	background-image: url('../img/rules_icon.png');			}

.return::after 	{	background-image: url('../img/arrow_left.svg');			}
.check::after 	{	background-image: url('../img/check_small.svg');		}
// .fancy_button
// .fancy_button
// .fancy_button
// .fancy_button
// .simple_button
// .simple_button

button.small_button, a.small_button, .small_button {
	cursor: pointer;
	font-weight: bold;
    font-size: 12px;
	margin: 0px 5px;
	padding: 5px 10px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	background-color: #8c9eff;
	vertical-align: middle;

	box-shadow: 0px 1px 4px #0008;
	opacity: 0.6;

	transition: opacity 300ms ease-in-out;
}

button.small_button:hover, a.small_button:hover, .small_button:hover {
	opacity: 1;
}

/* MENU ICON (parent element must have relative position) */
.admin_btn .menu_icon {
	position: absolute;
	z-index: 82;
	display: inline-block;
	width: 13.3px;
	height: 10px;
	position: relative;
	margin: -1px 0px;
	margin-left: 5px;
	transform: rotate(0deg);
	transition: 0.5s cubic-bezier(.36,.07,.19,.97);
}

.menu_icon span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #fff;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}

.menu_icon span:nth-child(1) {
	top: 0px;
}

.menu_icon span:nth-child(2), .menu_icon span:nth-child(3) {
	top: 4px;
}

.menu_icon span:nth-child(4) {
	top: 8px;
}

.open .menu_icon span:nth-child(1) {
	top: 4px;
	width: 0%;
	left: 50%;
}

.open .menu_icon span:nth-child(2) {
	transform: rotate(45deg);
}

.open .menu_icon span:nth-child(3) {
	transform: rotate(-45deg);
}

.open .menu_icon span:nth-child(4) {
	top: 4px;
	width: 0%;
	left: 50%;
}

/* SPINNER */
.spinner {
	width: 40px;
	height: 40px;

	position: relative;
	margin: 20px auto;
}

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	/*background-color: #f44336;*/
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;

	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	animation-delay: -1.0s;
}

@keyframes sk-bounce {
	0%, 100% { 
		transform: scale(0.0);
	} 50% { 
		transform: scale(1.0);
	}
}

.shake_icon:hover {
	animation: shk-rot 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shk-rot {
	10%, 90% { transform: rotate(-2deg); }

	20%, 80% { transform: rotate(4deg); }

	30%, 50%, 70% { transform: rotate(-8deg); }

	40%, 60% { transform: rotate(8deg); }
}

/* PAGE BLOCK CONTAINER WHITE */
.container {
	font-family: Helvetica, Arial;
	max-width: 600px;
	color: #455a64;
	background-color: #fff;
	text-shadow: 0px 0px 1px #455a6420;
	padding: 20px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	box-shadow: 0px 3px 6px #0006;
}

.container h2, .container h3 {
	font-weight: normal;
}

.container .error {
	color: #ef5350;
	font-weight: bold;
	padding: 20px 0px;
	display: block;
}