$max_w1: 768px;
$discord_user_height: 30px;

.footer {
	// background-color: #37474F;
	text-align: left;
	color: #94aeb3;

	@media screen and (max-width: $max_w1) {
		text-align: center;
	}
}

.footer .footer_bg_clipped {
	background-color: #37474F;
	// @media screen and (min-width: 900px) {
		// clip-path: polygon(0px 0px, 650px 0px, 875px 100%, 0px 100%);
	// }
}

.footer article {
	text-align: left;
	padding: 10px 30px;
	padding-top: 0px;
	display: inline-block;
	font-size: 14px;
	
	vertical-align: top;

	max-width: $max_w1 / 2;

	@media screen and (max-width: $max_w1) {
		// width: 100%;
		max-width: 100%;
		border-bottom: 1px solid #455a64;
	}
}

.footer article h4 {
	margin-bottom: 0px;
}

.footer article ol, .footer article ul {
	margin: 10px 0px;
	padding: 0px 30px;
}

.footer article ol > li, .footer article ul > li {
	padding: 3px 0px;
}

.footer article .discord_user {
	display: inline-block;
	line-height: $discord_user_height;
	// color: #8c9eff;
	font-weight: bold;
	padding: 0px;
	// padding-left: $discord_user_height;
	height: $discord_user_height;
}

.footer article .discord_user::before {
	display: inline-block;
	float: left;
	content: ' ';
	width: $discord_user_height;
	height: $discord_user_height;

	background: url('./../img/discord_icon.png') no-repeat center;
	background-size: contain;
}

.footer_bottom {
	grid-area: footer;
	background-color: #263238;
	text-align: center;
	font-size: 11px;
	color: #546E7A;
	height: 20px;

	& img {
		height: 18px;
		margin: 0px 4px;
		opacity: 0.5;
		vertical-align: middle;
	}

	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	// justify-content: end;
	@media screen and (max-width: $max_w1) {
		grid-template-columns: auto;
		grid-template-rows: 20px 20px;
		height: 40px;//height for two rows

		& > *:nth-child(1) {
			justify-self: right !important;
		}
	}
}

.footer_bottom > *:nth-child(1) {
	justify-self: left;
	padding: 0px 10px;
}

.footer_bottom > *:nth-child(2) {
	justify-self: right;
}

.footer_bottom .more_icon, .footer_bottom .close_icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 0px;
	margin: 0px 5px;
	background: url('./../img/more_vert.svg') center no-repeat;
	background-size: 80%;
	opacity: 0.2;
}

.footer_bottom .close_icon {
	background: url('./../img/close.svg') center no-repeat;
	background-size: 80%;
}

.footer_bottom .more_icon:hover, .footer_bottom .close_icon:hover {
	opacity: 1;
}

/* WAVES EFFECT */
@media screen and (min-width: $max_w1) {
	.footer .waves_container {
		height: 55px;
		position: relative;
		overflow: hidden;
		// background-color: blue;
	}

	.footer .waves_container > * {
		height: 100%;
		width: 200%;

		position: absolute;
		left: 0px;
		right: 0px;
		margin: auto;
		bottom: 0px;

		background-repeat: repeat;
		background-size: auto 100%;
		// background-size: auto 100%;

		background-position: bottom;
		transform-origin: center bottom;
		// background-color: #37474F;
	}

	@for $i from 1 through 3 {
		.footer .waves_container > *:nth-child(#{$i}) {
	    	$ext: svg;
	    	$index: $i;
	    	@if $i == 1 {
	    		$index: 2;
	    	}

	    	// -webkit-mask-box-image: url(./../img/wave#{$index}.#{$ext});
	    	background-image: url(./../img/wave#{$index}.#{$ext});
	    	opacity: #{1 - ($i - 1)/4};

	    	$dir: alternate;
	    	@if $i == 2 {
	    		$dir: alternate-reverse;
	    	}

	    	animation: anim_wave #{$i*7 + 10}s ease-in-out infinite $dir;
	    	z-index: #{5 - $i};
		}
	}

	@keyframes anim_wave {
	    0% {
	        transform: translateX(0) translateZ(0) scaleY(1);
	    }
	    50% {
	        transform: translateX(-25%) translateZ(0) scaleY(0.55);
	    }
	    100% {
	        transform: translateX(-50%) translateZ(0) scaleY(1);
	    }
	}
}