$header-small: 100px;
$header-large: 250px;
$max_w1: 768px;

$delay: 100ms;

$height: 30px;//should match $widget_h from discord_widget.scss

.main_header_container {
	grid-area: header;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

	width: 100%;
	padding: 0px;
	margin: 0px;

	transition: height 300ms $delay ease-in-out, font-size 300ms $delay ease-in-out;
	font-weight: normal;
}

@for $i from 0 through 3 {
	.main_header_container[data-bgid='#{$i}'] {
		background-image: url(../img/bg_blur#{$i}.jpg);
	}
}

.main_header_container a.logo {
	height: 100%;
}

.main_header_container > .header_gradient {
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #de591b80 0%, #00d4fa80 100%);

	display: inline-grid;

	grid-template-columns: 45% 55%;
	grid-template-rows: auto;
	align-content: stretch;
	align-items: center;
	justify-content: center;
}

h1.small {
	height: $header-small;
	font-size: 20px;
}

h1.large {
	height: $header-large;
	@media screen and (max-width: $max_w1) {
		height: $header-small;
		font-size: 20px;
	}
}

a.logo {
	background: url('../img/in2rpp.png') no-repeat;
	background-position: right;
	background-size: auto 100%;
	width: 100%;
	width: $header-large*2;
}

.header_separator {
	grid-area: header_separator;
	background: #263238;
	// max-height: $height;

	position: relative;
	z-index: 3;

	box-shadow: 0px 0px 8px #0006;

	display: grid;
	grid-template-areas: "homebtn info discord_widget";
	grid-template-rows: auto;
	grid-template-columns: 300px fit-content(100%) 300px;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: 900px) {
		grid-template-columns: $height 0px fit-content(100%);
	}

	@media screen and (max-width: 320px) {
		// min-height: 2*$height;
	}
}

.header_separator > .discord_widget_main {
	grid-area: discord_widget;
	justify-self: right;
}

.short_info {
	max-width: 300px;
	height: $height;
	overflow: auto;
	grid-area: info;
	color: #546E7A;
	font-size: 12px;

	@media screen and (max-width: 900px) {
		display: none;
	}
}

.homepage_icon {
	grid-area: homebtn;
	display: inline-block;
	width: $height*0.8;
	height: $height*0.8;
	background: url('../img/home.svg') no-repeat;
	background-position: right;
	background-size: auto 100%;

	opacity: 0.2;
}

.homepage_icon:hover {
	opacity: 1;
}