$header-small: 150px;
$header-large: 250px;
// $max_w1: 768px;
$max_w1: 950px;

$delay: 100ms;

$height: 30px;//should match $widget_h from discord_widget.scss

$blob_size: 100px;

.main_header_container {
	grid-area: header;
	
    background-attachment: fixed;
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;

	width: 100%;
	padding: 0px;
	margin: 0px;

	position: relative;

	overflow: hidden;

	transition: height 300ms $delay ease-in-out, font-size 300ms $delay ease-in-out,
		background-position 300ms $delay ease-in-out;
	// font-weight: normal;
}

@for $i from 0 through 2 {
	.main_header_container[data-bgid='#{$i}'] {
		background-image: url(../img/bg_blur#{$i}.jpg);
	}
}

.main_header_container > .header_fill {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
}

.main_header_container > .header_gradient {
	// background: linear-gradient(45deg, #de591b80 0%, #00d4fa80 100%);
	background: linear-gradient(15deg, #455A64ff 0%, #FFA72680 100%);

	width: 100%;

	display: grid;
	grid-template-areas: "separator hline1 text hline2 logo";
	grid-template-columns: $header-large 0px auto 0px $header-large;
	grid-template-rows: 100%;
	@media screen and (max-width: $max_w1) {
		grid-template-areas: "separator text logo";
		grid-template-columns: $header-small auto $header-small;
	}
	/*@media screen and (max-width: 950px) {
		grid-template-areas: "text logo";
		grid-template-columns: auto $header-large;
		justify-content: stretch;
	}*/
	@media screen and (max-width: 550px) {
		grid-template-areas: "hline1 logo hline2" !important;
		grid-template-columns: auto fit-content(100%) auto;
		justify-content: stretch;

		& .header_text {
			display: none !important;
		}

		& .logo {
			grid-area: logo;
			justify-self: left !important;
			background-position: center !important;
			width: $header-small !important;

			background-image: url('../img/favicon.png') !important;
			background-size: auto 80% !important;
		}

		& .line1, & .line2 {
			display: block !important;
			height: 1px;
			// width: 100px;
			width: calc(40vw - (75px));//75px - $header-small / 2
			// background-color: red;
			// margin: auto;
		}
		& .line1 {
			justify-self: right;
		}
		& .line2 {
			justify-self: left;
		}
	}
	grid-template-rows: auto;
	align-content: stretch;
	align-items: center;
	justify-content: space-between;

	color: #fffa;

	& .line1 {
		grid-area: hline1;
		display: none;
	}

	& .line2 {
		grid-area: hline2;
		display: none;
	}

	& .header_text {
		display: block;
		grid-area: text;
		font-weight: bold;
		text-shadow: 0px 1px 4px #0004;
		white-space: nowrap;
		width: auto;
		overflow: visible;

		// text-align: left;
	}

	& hr, & .line1, & .line2 {
		background-color: #fff5;
		transform: scale(0, 1);
		animation: hr_showup 0.7s 0.2s cubic-bezier(.61,.01,.26,1.51) forwards;
	}

	& .logo {
		grid-area: logo;
		justify-self: right;

		background: url('../img/in2rpp.png') no-repeat;
		background-position: right;
		background-size: auto 100%;
		width: 100%;
		height: 100%;
		width: $header-large*2;
	}
}

@keyframes hr_showup {
	0% {
		transform: scale(0, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}

.main_header_container > .header_fill .blobs_container {
	width: calc(100% - 100px);//minus blob size
	height: 100%;
	border-radius: 0px;
	filter: url("#goo");
	// opacity: 0.5;
	// background-image: url(../img/bg_blur#{$i}.jpg);
	mix-blend-mode: overlay;//overlay difference
}

.main_header_container > .header_fill .blobs_container > .header_blob {
	background: #fff;
	width: $blob_size;
	height: $blob_size;
	margin: 0px;
	padding: 0px;

	position: absolute;
	// left: 100%;
	// top: 100%;
	
	border-radius: $blob_size;
    display: inline-block;

	animation: go_up_large 1s ease-in-out infinite;
	transform: translate(0px, $header-large);
}

.main_header_container.small > .header_fill .blobs_container > .header_blob {
	animation: go_up_small 1s ease-in-out infinite;
}

@keyframes go_up_large {
	0% {
		transform: translate(0px, $header-large);
	}
	100% {
		transform: translate(0px, -$blob_size);
	}
}

@keyframes go_up_small {
	0% {
		transform: translate(0px, $header-small);
	}
	100% {
		transform: translate(0px, -$blob_size);
	}
}


h1.main_header_container {
	font-weight: bold;
}

h1.main_header_container.small {
	height: $header-small;
	font-size: 27px;
}

h1.main_header_container.large {
	height: $header-large;
	font-size: 35px;
	background-position: 0px -125px;
	@media screen and (max-width: $max_w1) {
		height: $header-small;
		background-position: top;
		font-size: 20px;
	}
}

.header_separator {
	grid-area: header_separator;
	background: #263238;

	position: relative;

	z-index: 15;

	box-shadow: 0px 0px 8px #0006;

	display: grid;
	grid-template-areas: "homebtn players info discord_widget";
	grid-template-rows: auto;
	grid-template-columns: $height (300px-$height) auto 300px;
	justify-content: stretch;
	align-items: center;
	justify-items: center;

	@media screen and (max-width: 900px) {
		grid-template-columns: $height 0px fit-content(100%);
	}

	@media screen and (max-width: 500px) {
		grid-template-areas: "homebtn players" "info discord_widget";
		grid-template-columns: fit-content(100%) auto;
	}

	@media screen and (max-width: 300px) {
		grid-template-areas: "homebtn players" "info" "discord_widget";
		grid-template-columns: 0px auto;

		& > .players {
			justify-self: right !important;
		}

		& > .discord_widget_main {
			justify-self: center !important;
			text-align: center;
		}
	}

	@media screen and (max-width: $max_w1) {
		z-index: 50;
	}
}

.header_separator > .discord_widget_main {
	grid-area: discord_widget;
	justify-self: right;
}

.header_separator > .short_info {
	max-width: 300px;
	height: $height;
	overflow: auto;
	text-align: center;
	grid-area: info;
	color: #546E7A;
	font-size: 12px;

	@media screen and (max-width: 900px) {
		display: none;
	}
}

.header_separator > .homepage_icon {
	grid-area: homebtn;
    justify-self: left;
	display: inline-block;
	width: $height;//*0.8;
	height: $height;//*0.8;
	background: url('../img/home.svg') no-repeat;
	background-position: right;
	background-size: auto 80%;

	opacity: 0.2;
}

.header_separator > .homepage_icon:hover {
	opacity: 1;
}

.header_separator > .players {
	grid-area: players;
    justify-self: left;
    white-space: nowrap;

    color: #546E7A;
    // line-height: 30px;
    // font-weight: bold;
    font-size: 12px;
    padding: 0px 5px;
}

.header_separator > .players .slide_list_btn {
	white-space: nowrap !important;
	line-height: 24px !important;
	height: 24px !important;
	padding: 0px !important;
	display: inline-block;
	position: relative;
	// min-width: 125px;
	box-sizing: border-box;
	text-align: left;
	z-index: 81;
	overflow: visible;
	background-color: #009688;
	box-shadow: none;

	&.no_players {
		opacity: 1;
		cursor: initial;
	}

	/*&.list_head {
		display: inline-block;
		content: attr(data-ct);
		padding-left: 15px;
		
		// width: 100%;
		box-sizing: border-box;
		background-color: transparent;
		z-index: 83;
	}*/

	& .list_head {
		height: 100%;
		// width: 100%;
		text-align: center;
		line-height: 0px;
		vertical-align: middle;
		// width: 100%;
		// background-color: red;
		position: relative;
		// left: 0px;
		// top: 0px;
		z-index: 83;

		margin: 0px 3px 0px 10px;

		display: grid;
		grid-template-columns: auto 24px;
		align-items: center;
		justify-content: center;
	}

	& .list_head > * {
		//display: inline-block;
		//height: 100%;
		//line-height: 24px;
		// vertical-align: middle;
	}

	&.no_players::after {
		text-align: left;
	}

	&:not(.no_players).open {
		opacity: 1;
	}

	&:not(.no_players) .list_head .slide_list_icon {
		display: inline-block;
		// margin: 5px 0px;
		margin: 2px;
		z-index: 82;
		// position: absolute;
		// right: 5px;
		// margin-left: 10px;
		background: red;
		width: 20px;
		height: 20px;

		background: url('../img/arrow_left.svg') center no-repeat;
		background-size: cover;

		transform: rotate(270deg);

		transition: transform 0.5s cubic-bezier(.87,-.41,.19,1.44);
	}

	&:not(.no_players).open .slide_list_icon {
		transform: rotate(90deg);
	}

	& > .players_list {
		width: 100%;
		height: 24px;
		left: 0px;
		top: 0px;
		
		white-space: nowrap;
		display: block;
		position: absolute;

		text-align: center;
		overflow: hidden;
		// max-height: 24 + 25*2px;
		
		box-shadow: 0px 1px 4px #0008;
	
		transition: height 0.5s cubic-bezier(.36,.07,.19,.97);
		background-color: #26A69A;

		border-radius: 5px;
	}

	& > .players_list::before {
		content: " ";
		background-color: #009688;
		// text-align: left;
		display: block;
		height: 24px;
		width: 100%;
	}

	& > .players_list > * {//actual list of player divs
		overflow-y: auto;
		overflow-x: hidden;
	}

	& > .players_list > *::-webkit-scrollbar-thumb {
	    background: #00897B;
	}

	& > .players_list > *::-webkit-scrollbar-track {
	    background: #00695C; 
	}


	& > .players_list > * > *:not(:last-child) {
		border-bottom: 1px solid #fff2;
	}
}

// .header_separator > .players .slide_list_btn > 