$header-small: 150px;
$header-large: 250px;
// $max_w1: 768px;
$max_w1: 950px;

$delay: 100ms;

$height: 30px;//should match $widget_h from discord_widget.scss
$small-font: 22px;

$blob_size: 10px;

.main_header_container {
	grid-area: header;
	
    // background-attachment: fixed;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

	width: 100%;
	padding: 0px;
	margin: 0px;

	position: relative;

	overflow: hidden;

	transition: height 300ms $delay ease-in-out, font-size 300ms $delay ease-in-out,
		background-position 300ms $delay ease-in-out;
	// font-weight: normal;
}

@for $i from 0 through 2 {
	.main_header_container[data-bgid='#{$i}'] {
		background-image: url(../img/bg_blur#{$i}.jpg);
	}
}

.main_header_container > .header_fill {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
}

.main_header_container > .header_gradient {
	//background: linear-gradient(45deg, #de591b80 0%, #00d4fa80 100%);
	//background: linear-gradient(15deg, #455A64ff 0%, #FFA72680 100%);
	background: linear-gradient(0deg, #263238 0%, #26ffd280 100%);

	width: 100%;

	display: grid;
	grid-template-areas: "links hline1 text hline2 logo";
	grid-template-columns: $header-large 0px auto 0px $header-large;
	grid-template-rows: 100%;
	@media screen and (max-width: $max_w1) {
		grid-template-areas: "links text logo";
		grid-template-columns: $header-small auto $header-small;
	}
	/*@media screen and (max-width: 950px) {
		grid-template-areas: "text logo";
		grid-template-columns: auto $header-large;
		justify-content: stretch;
	}*/
	@media screen and (max-width: 550px) {
		grid-template-areas: "links hline1 logo hline2 sep" !important;
		grid-template-columns: 0px auto fit-content(100%) auto 0px;
		justify-content: center;

		& .header_text {
			display: none !important;
		}

		& .logo {
			grid-area: logo;
			justify-self: left !important;
			background-position: center !important;
			width: $header-small !important;

			background-image: url('../img/favicon.png') !important;
			background-size: auto 80% !important;
		}

		& .line1, & .line2 {
			display: block !important;
			height: 1px;
			//width: 100px;
			width: calc(40vw - (75px));//75px - $header-small / 2
		}
		& .line1 {
			justify-self: right;
		}
		& .line2 {
			justify-self: left;
		}

		/*& .header_links {
			display: none !important;
		}*/
	}
	grid-template-rows: auto;
	align-content: stretch;
	align-items: center;
	justify-content: space-between;

	color: #fffa;

	& .line1 {
		grid-area: hline1;
		display: none;
	}

	& .line2 {
		grid-area: hline2;
		display: none;
	}

	& .header_text {
		display: block;
		grid-area: text;
		font-weight: bold;
		text-shadow: 0px 1px 4px #0004;
		white-space: nowrap;
		width: auto;
		overflow: visible;

		// text-align: left;
	}

	& hr, & .line1, & .line2 {
		background-color: #fff5;
		transform: scale(0, 1);
		animation: hr_showup 0.7s 0.2s cubic-bezier(.61,.01,.26,1.51) forwards;
	}

	& .logo {
		grid-area: logo;
		justify-self: right;

		background: url('../img/in2rpp.png') no-repeat;
		background-position: right;
		background-size: auto 100%;
		width: 100%;
		height: 100%;
		//width: $header-large*2;
	}

	/*& .header_links {
		grid-area: links;
		display: block;
		
		height: auto;//$header-small;
		line-height: 0px;
		max-width: $header-small;
		max-height: $header-small;
		// background-color: red;
		justify-self: stretch;
		text-align: left;

		& a, & button {
			display: block;
			height: $header-small/4;
			width: $header-small/4;
			margin: 0px;
			// margin: 5px 0px 0px 5px;
			background-color: transparent;
			position: relative;

			transform: translate(-($header-small/4 + 1), 0px);

			cursor: auto;
			&:not(.current) {
				cursor: pointer;
			}

			transition: transform 0.4s cubic-bezier(.87,-.41,.19,1.44);

			@for $i from 1 through 4 {
				&:nth-child(# {$i}) {
					transition-delay: # {$i*100}ms;
				}
			}

			&::before {
				content: " ";
				display: block;
				position: absolute;
				left: 0px;
				top: 0px;
				background-color: #0004;
				
				height: 100%;
				width: 0%;
				transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
			}

			&::after {
				content: " ";
				display: block;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: contain;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0px;
				top: 0px;

				opacity: 0.3;
				transition: opacity 0.3s ease-in-out;
			}

			&:not(.current):hover::before {
				width: 100%;
			}

			&:not(.current):hover::after {
				opacity: 1;
			}

			&.current::before {
				width: 2px;
				background-color: #fff4;
			}

			&.current::after {
				opacity: 0.6;
			}
		}
	}*/
}

/*.main_header_container.small .header_links a, .main_header_container.small .header_links button {
	transform: translate(0px, 0px);
}*/

@keyframes hr_showup {
	0% {
		transform: scale(0, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}

.main_header_container > .header_fill .blobs_container {
	width: calc(100% - 100px);//minus blob size
	height: 100%;
	border-radius: 0px;
	opacity: 0.15;
}

.main_header_container > .header_fill .blobs_container > .header_blob {
	background: #fff;
	width: $blob_size;
	height: $blob_size;
	margin: 0px;
	padding: 0px;

	position: absolute;
	
	border-radius: $blob_size;
    display: inline-block;

	animation: go_up_large 1s ease-in-out infinite;
	transform: translate(0px, $header-large);
}

.main_header_container.small > .header_fill .blobs_container > .header_blob {
	animation: go_up_small 1s ease-in-out infinite;
}

@keyframes go_up_large {
	0% {
		transform: translate(0px, $header-large);
	}
	100% {
		transform: translate(0px, -$blob_size);
	}
}

@keyframes go_up_small {
	0% {
		transform: translate(0px, $header-small);
	}
	100% {
		transform: translate(0px, -$blob_size);
	}
}


h1.main_header_container {
	font-weight: bold;
}

h1.main_header_container.small {
	height: $header-small;
	font-size: $small-font;
}

h1.main_header_container.large {
	height: $header-large;
	font-size: 35px;
	background-position: 0px -125px;
	@media screen and (max-width: $max_w1) {
		height: $header-small;
		background-position: top;
		font-size: $small-font;
	}
}

.header_separator {
	grid-area: header_separator;
	background: #263238;

	position: relative;

	z-index: 15;

	box-shadow: 0px 2px 2px #0006;

	display: grid;
	grid-template-areas: "homebtn players info discord_widget";
	grid-template-rows: auto;
	grid-template-columns: $height (300px-$height) auto 350px;
	justify-content: stretch;
	align-items: center;
	justify-items: center;

	@media screen and (max-width: 900px) {
		grid-template-columns: $height 0px fit-content(100%);
	}

	@media screen and (max-width: 500px) {
		grid-template-areas: "homebtn players" "info discord_widget";
		grid-template-columns: fit-content(100%) auto;
	}

	@media screen and (max-width: 300px) {
		grid-template-areas: "homebtn players" "info" "discord_widget";
		grid-template-columns: 0px auto;

		& > .players {
			justify-self: right !important;
		}

		& > .discord_widget_main {
			justify-self: center !important;
			text-align: center;
		}
	}

	@media screen and (max-width: $max_w1) {
		z-index: 50;
	}
}

.header_separator > .discord_widget_main {
	grid-area: discord_widget;
	justify-self: right;
	height: 30px;
}

.header_separator > .short_info {
	max-width: 300px;
	height: $height;
	overflow: auto;
	text-align: center;
	grid-area: info;
	color: #546E7A;
	font-size: 12px;

	@media screen and (max-width: 900px) {
		display: none;
	}
}

.header_separator > .menu_slider {
	grid-area: homebtn;
    justify-self: left;
	display: inline-block;
	width: $height;
	height: $height;

	position: relative;
	z-index: 15;
	
	background-color: transparent;

	& .switcher {
		opacity: 0.2;
		transition: opacity 0.2s ease-in-out;

		width: $height;
		height: $height;
		position: absolute;
	    top: 0px;
	    left: 0px;
	    cursor: pointer;

		&:hover {
			opacity: 1;
		}

		& .menu_icon {
			position: relative;
			z-index: 99;
			width: 13.3px;
			height: 10px;
			margin: auto;
			top: 10px;
		}
	}

	& .slide_menu_content {
		$menu_width: 250px;
		$cut_height: $menu_width/4;
		$link_height: 37px;

		position: absolute;
		left: 0px;
		top: $height;
		width: $menu_width;
		max-width: 100vw;
		// height: 500px;
		background: #263238;
		text-align: left;

		transform: translate(-$menu_width);
		transition: transform 0.5s cubic-bezier(.36,.07,.19,.97);

		clip-path: polygon(0% 100%, 0% 0%, 150% 0%, 150% calc(100% - #{$cut_height}), 100% calc(100% - #{$cut_height}));
		box-shadow: 0px 0px 4px #0006;

		&.open {
			transform: translate(0px);
		}

		& .cutter {
			// background-color: red;
			height: $cut_height;
			width: 100%;
		}

		& .menu_links {
			& > * {//link instance
				display: grid;
				grid-template-columns: $link_height auto $link_height;
				height: $link_height;
				line-height: $link_height;
				font-weight: bold;
				font-size: 14px;
				// color: #94aEbA;
				color: #fff;

				opacity: 0.4;
				background-color: #fff0;
				transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;

				& > img {
					height: 80%;
					width: auto;
					vertical-align: bottom;
    				margin: auto;

					opacity: 1;
				}

				&:hover, &.current {
					//color: #fff;
				}

				&:hover {
					opacity: 1;
					background-color: #4DD0E130;
				}

				&.current {
					background-color: #4DD0E140;
					cursor: default;
					opacity: 1;
				}

				&:hover > img, &.current > img {
					//opacity: 0.6;
				}
			}

			& > *:not(:last-child) {
				border-bottom: 1px solid #fff3;
			}
		}

		&.open .menu_links > * {
			transform: scale(1, 0);
			animation: popup 0.4s cubic-bezier(.36,.07,.19,.97);
			animation-fill-mode: forwards;

			@keyframes popup {
				0% {
					transform: scale(1, 0);
				}
				100% {
					transform: scale(1, 1);
				}
			}

			@for $i from 1 through 5 {//each menu link
				&:nth-child(#{$i}) {
					animation-delay: #{$i*0.1}s;
				}
			}
		}
	}
}

.header_separator > .players {
	grid-area: players;
    justify-self: left;
    white-space: nowrap;

    color: #546E7A;
    // line-height: 30px;
    // font-weight: bold;
    font-size: 12px;
    padding: 0px 5px;
}

.header_separator > .players .slide_list_btn {
	white-space: nowrap !important;
	line-height: 24px !important;
	height: 24px !important;
	padding: 0px !important;
	display: inline-block;
	position: relative;
	// min-width: 125px;
	box-sizing: border-box;
	text-align: left;
	z-index: 81;
	overflow: visible;
	background-color: #009688;
	box-shadow: none;

	&.no_players {
		opacity: 1;
		cursor: initial;
	}

	/*&.list_head {
		display: inline-block;
		content: attr(data-ct);
		padding-left: 15px;
		
		// width: 100%;
		box-sizing: border-box;
		background-color: transparent;
		z-index: 83;
	}*/

	& .list_head {
		height: 100%;
		// width: 100%;
		text-align: center;
		line-height: 0px;
		vertical-align: middle;
		// width: 100%;
		// background-color: red;
		position: relative;
		// left: 0px;
		// top: 0px;
		z-index: 83;

		margin: 0px 3px 0px 10px;

		display: grid;
		grid-template-columns: auto 24px;
		align-items: center;
		justify-content: center;
	}

	& .list_head > * {
		//display: inline-block;
		//height: 100%;
		//line-height: 24px;
		// vertical-align: middle;
	}

	&.no_players::after {
		text-align: left;
	}

	&:not(.no_players).open {
		opacity: 1;
	}

	&:not(.no_players) .list_head .slide_list_icon {
		display: inline-block;
		// margin: 5px 0px;
		margin: 2px;
		z-index: 82;
		// position: absolute;
		// right: 5px;
		// margin-left: 10px;
		background: red;
		width: 20px;
		height: 20px;

		background: url('../img/arrow_left.svg') center no-repeat;
		background-size: cover;

		transform: rotate(270deg);

		transition: transform 0.5s cubic-bezier(.87,-.41,.19,1.44);
	}

	&:not(.no_players).open .slide_list_icon {
		transform: rotate(90deg);
	}

	& > .players_list {
		width: 100%;
		height: 24px;
		left: 0px;
		top: 0px;
		
		white-space: nowrap;
		display: block;
		position: absolute;

		text-align: center;
		overflow: hidden;
		// max-height: 24 + 25*2px;
		
		box-shadow: 0px 1px 4px #0008;
	
		transition: height 0.5s cubic-bezier(.36,.07,.19,.97);
		background-color: #26A69A;

		border-radius: 5px;
	}

	& > .players_list::before {
		content: " ";
		background-color: #009688;
		// text-align: left;
		display: block;
		height: 24px;
		width: 100%;
	}

	& > .players_list > * {//actual list of player divs
		overflow-y: auto;
		overflow-x: hidden;
	}

	& > .players_list > *::-webkit-scrollbar-thumb {
	    background: #00897B;
	}

	& > .players_list > *::-webkit-scrollbar-track {
	    background: #00695C; 
	}


	& > .players_list > * > *:not(:last-child) {
		border-bottom: 1px solid #fff2;
	}
}

// .header_separator > .players .slide_list_btn > 