$max_w1: 768px;
// $delay: 50ms;

.main_links {
	width: 100%;
	min-height: 200px;
	max-height: 100%;
	// display: flex;
	// justify-content: space-evenly;
	display: grid;
	grid-template-rows: 240px;//240px
	grid-template-columns: repeat(4, auto);
	// grid-auto-flow: column;
	align-items: center;
    justify-content: center;
    justify-items: stretch;

    @media screen and (max-width: 1000px) {
    	grid-template-columns: repeat(2, auto);
    	grid-template-rows: repeat(2, 140px);
    }

    @media screen and (max-width: $max_w1) {
       	grid-auto-flow: dense;
       	grid-template-columns: auto;
       	grid-template-rows: auto;
    }
}