$max_w1: 768px;
$body-font: Helvetica, Arial;

$bg-dark: #455A64;

// @import 'header.scss';
// @import 'footer.scss';
// @import 'homepage.scss';
// @import 'whitelist.scss';
// @import 'rules.scss';

@import 'scrollbars.scss';

body, html {
    padding: 0px;
    margin: 0px;

    // width: 100vw;
    // display: block;
    // position: fixed;
    // left: 0px;
    // right: 0px;
    // overflow: auto;

    font-family: $body-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-sizing: border-box;
    vertical-align: middle;

    background-color: $bg-dark;
    color: #fff;
    text-shadow: 0px 1px 5px #0003;

    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #9dafb7;
}

button.clean {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}

.layout_main {
	height: 100vh;
	display: grid;
	grid-template-areas: "header" "header_separator" "content" "footer";
	grid-template-columns: 100%;
	grid-template-rows: fit-content(100%) fit-content(100%) auto fit-content(100%);
}

main.content {
    background-color: $bg-dark;
}

.fader_in {
    animation:          fade_in 0.5s cubic-bezier(.36,.07,.19,.97);
    -webkit-animation:  fade_in 0.5s cubic-bezier(.36,.07,.19,.97); /* Safari 4+ */
    -moz-animation:     fade_in 0.5s cubic-bezier(.36,.07,.19,.97); /* Fx 5+ */
    -o-animation:       fade_in 0.5s cubic-bezier(.36,.07,.19,.97); /* Opera 12+ */
}

@-webkit-keyframes fade_in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fade_in{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes fade_in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade_in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}