$max_w1: 768px;
$body-font: Helvetica, Arial;

$bg-dark: #455A64;

// @import 'header.scss';
// @import 'footer.scss';
// @import 'homepage.scss';
// @import 'whitelist.scss';
// @import 'rules.scss';

@import 'scrollbars.scss';

body, html, textarea, input, button {
    padding: 0px;
    margin: 0px;

    font-family: $body-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-sizing: border-box;
    vertical-align: middle;

    text-shadow: 0px 1px 5px #0003;
}

body, html {
    background-color: $bg-dark;
    color: #fff;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #9dafb7;
}

button.clean {
    font-size: 100%;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}

textarea, input {
    border: 1px solid rgb(169, 169, 169);
    outline: none;
    padding: 2px 5px;
    color: #455a64;
    font-size: 13px;
}

textarea:focus, input:focus {
    border-color: #e57373;
}

.layout_main {
	height: 100vh;
	display: grid;
	grid-template-areas: "header" "header_separator" "content" "footer";
	grid-template-columns: 100%;
	grid-template-rows: fit-content(100%) fit-content(100%) auto fit-content(100%);
}

main.content {
    // background-color: $bg-dark;
}

.fader_in {
    animation:          fade_in 0.5s cubic-bezier(.36,.07,.19,.97);
    -webkit-animation:  fade_in 0.5s cubic-bezier(.36,.07,.19,.97); /* Safari 4+ */
    -moz-animation:     fade_in 0.5s cubic-bezier(.36,.07,.19,.97); /* Fx 5+ */
    -o-animation:       fade_in 0.5s cubic-bezier(.36,.07,.19,.97); /* Opera 12+ */
}

@-webkit-keyframes fade_in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fade_in{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes fade_in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade_in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

//gallery custom style
.image-gallery-content:not(.fullscreen) {
    //.image-gallery {
    //    max-width: 900px;
        margin: 20px auto !important;//todo - fix
    //}

    .image-gallery-slide img {
        max-height: 506.25px;
        width: auto !important;
    }

    .image-gallery-slide {
        background-color: transparent !important;
    }
}

.image-gallery-content.fullscreen {
    .image-gallery-slide img {
        max-height: 100vh !important;
        max-width: 100vw !important;
    }
}