/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #37474F; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00838F; 
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00ACC1; 
}

.container ::-webkit-scrollbar-track {
	background-color: #B0BEC5;
}

.container ::-webkit-scrollbar-thumb {
	background-color: #78909C;
}

.container ::-webkit-scrollbar-thumb:hover {
	background-color: #90A4AE;
}