.stock_exchange_main {
	& .simple_button {
		background-color: red;
	}

	& .add_btn {
		$size: 50px;
		background-color: #ef5350;
		box-shadow: 0px 2px 5px #666;
		width: $size;
		height: $size;
		border-radius: $size;
		color: #fff;
		font-size: $size/2;
		text-shadow: none;

		&:hover {
			background-color: #e57373;
		}
	}

	& .input_grid {
		display: inline-grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;

		& > * {
			margin: 5px 0px;
		}

		& > label {
			text-align: right;
			padding-right: 5px;
			white-space: nowrap;
			font-weight: bold;
			// width: 200px;
		}

		& > input {
			width: 200px;
		}

		& > div {
			text-align: left;
			display: inline-block;
			margin: 0px 5px;
			// min-width: 200px;
		}
	}

	& .screens_input {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding: 10px 0px;


		& .add_btn {
			background-color: #29B6F6;
			&:hover {
				background-color: #4FC3F7;
			}
		}
	}

	& .files_info {
		margin: 10px 0px 0px 0px;
		font-size: 14px;
	}

	& .screen_uploader {
		background-color: #CFD8DC;
		/*color: inherit !important;
		text-shadow: 1px 0px 0px #fff5, -1px 0px 0px #fff5, 0px 1px 0px #fff5, 0px -1px 0px #fff5, 
		0px 0px 1px #fff5;*/
	}

	& .screen_uploader:hover {
		background-color: #B0BEC5;
	}

	& .entries_container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	    align-items: center;
		justify-content: space-evenly;

		/*compact entry*/
		& .entry {
			animation: fade_in 0.5s ease-out;
			display: inline-grid;
			grid-template-areas: "mark price" "preview preview" "model capacity" "options options";
			align-items: center;
			
			margin: 15px 0px;

			color: #fff;
			background-color: #546E7A;
			box-shadow: 0px 2px 7px #000a;
			border: 1px solid #37474F;
			border-radius: 10px;
			overflow: hidden;

			& .mark {
				grid-area: mark;
				font-weight: bold;
			}
			& .capacity {
				grid-area: capacity;

				height: 25px;
				line-height: 25px;
				text-align: right;

				&::after {
					content: " ";
					float: right;
					display: inline-block;
					width: 25px;
					height: 25px;
					background: url('./../img/people.svg') center no-repeat;
					background-size: 70%;
					margin: 0px 5px 0px 0px;
				}
			}

			& .mark, & .price {
				padding: 10px 0px;
				background-color: #37474F;
			}

			& .model {
				grid-area: model;
				height: 25px;
				line-height: 25px;
			}
			& .price {
				grid-area: price;
				text-align: right;
				padding-right: 5px;
			}

			& .preview {
				grid-area: preview;

				min-width: 192px;
				min-height: 108px;
			   	// line-height: 108px;

				&, & > img {
					max-width: 192px*1.5;
					max-height: 108px*1.5;
				}
				& > img {
					margin: auto;
					width: auto;
					height: auto;
				}

				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}

			& .options {
				grid-area: options;
				position: relative;
				z-index: 3;

				& > button, & > a {
					display: inline-block;
				    background-color: #fff;
				    color: #455a64;
				    margin: 10px 0px;
				}
			}

			position: relative;
			z-index: 2;
			cursor: pointer;

			&:hover::after {
				content: " ";
				display: inline-block;
				width: 200%;
				height: 200%;
				position: absolute;
				margin: auto;
				left: -50%;
				top: -50%;
				background: url('./../img/open.svg') #0008 center no-repeat;
				background-size: 15%;

				animation: fade_zoomer 0.3s cubic-bezier(.36,.07,.19,.97);
			}

			@keyframes fade_zoomer {
				0% {
					opacity: 0;
					transform: scale(0.75);
				}
				100% {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}

	& .focused_container {
		animation: fade_in 0.5s ease-out;
		& button, & a {
			background-color: #b71c1c;
			margin: 10px 0px;
		}

		.large_preview {
			display: block;
			// width: 100%;
			// height: auto;
			// height: 200px;

			position: relative;

			& > img {
				width: 100%;
				height: auto;
			}

			& > a {
				margin: 0px;
			}

			& .open {
				width: 45px;
				height: 45px;
				position: absolute;
				top: 0px;
				right: 0px;
	
				border-bottom-left-radius: 30px;
				background: url('./../img/fullscreen.svg') #0008 no-repeat;
				background-position: 60% 30%;
				background-size: 60%;
				opacity: 0.5;

				transition: opacity 0.2s ease-in-out;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	& .sort_controls {
		display: flex;  
    	
		width: auto;
		max-width: 100%;
		margin: 10px 0px;

		overflow-x: hidden;
		border-radius: 50px;
		box-shadow: 0px 1px 10px #0008;

		& > * {
			display: table-cell;
			flex-basis: 100%;

			padding: 8px 5px;
			border: none;
			outline: none;
			cursor: pointer;
			
			white-space: nowrap;

			transition: color 0.2s ease-in-out;

			// color: #fff;
			color: #78909C;
			&:not(:last-child) {
				border-right: 1px solid #B0BEC5;
			}
			// background-color: #78909C;
			// border-bottom: 4px solid #607D8B;

			&:not(.asc):not(.desc):hover {
				color: inherit;
				// background-color: #90A4AE;
				// border-bottom: 4px solid #78909C;
			}

			&.asc {
				color: #4CAF50;
				font-weight: bold;
			}
			&.desc {
				color: #f44336;
				font-weight: bold;
			}
		}
	}
}