$max_w1: 768px;
$max_w2: 640px;

.whitelist_admin_main .control_panel {
	width: 100%;
}

.whitelist_admin_main .control_panel > button {
	padding: 10px 10px;
	font-weight: bold;
	background-color: transparent;
	color: #455a64;
	cursor: initial;

	width: 170px;

	position: relative;

	transition: color 150ms ease-in-out;
}

.whitelist_admin_main .control_panel > button:not(.active):hover {
	cursor: pointer;
}

.whitelist_admin_main .control_panel > button:nth-child(1):not(.active):hover {
	color: #42A5F5;
}
.whitelist_admin_main .control_panel > button:nth-child(2):not(.active):hover {
	color: #8BC34A;
}
.whitelist_admin_main .control_panel > button:nth-child(3):not(.active):hover {
	color: #ef5350;
}

.whitelist_admin_main .control_panel > button::after {
	// border-bottom: 2px solid #8BC34A;
	content: " ";
	display: block;
	width: 0%;
	height: 2px;

	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;

	transition: width 500ms cubic-bezier(.87,-.41,.19,1.44);
}

.whitelist_admin_main .control_panel > button:nth-child(1)::after {
	background-color: #42A5F5;
}
.whitelist_admin_main .control_panel > button:nth-child(2)::after {
	background-color: #8BC34A;
}
.whitelist_admin_main .control_panel > button:nth-child(3)::after {
	background-color: #ef5350;
}

.whitelist_admin_main .control_panel > button.active::after {
	width: 100%;
}

.whitelist_admin_main .error {
	color: #ef5350;
	font-weight: bold;
	padding: 20px 0px;
	display: block;
}

.user_wl_entries_container {
	margin-top: 20px;

	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto auto;

	@media screen and (max-width: $max_w1) {
		grid-template-columns: auto;
	}
}

.user_wl_entries_container > * {//single entry
	margin: 5px 0px;
	// padding: 5px;

	box-shadow: 0px 2px 7px #0008;
	border: 1px solid #0003;
	max-width: 300px;
}

.user_wl_entries_container * {
	font-size: 13px;
	padding: 3px;
	white-space: nowrap;
}

.user_wl_entries_container > * > h1 {
	display: grid;
	margin: 0px;

	grid-template-areas: "nick age creation-date";
	grid-template-columns: auto fit-content(100%) auto;
	align-items: center;
	// grid-template-rows: 30px 30px;
}

.whitelist_admin_main h1 > *, .user_wl_focused > h1 > * {
	font-weight: bold;
}

.whitelist_admin_main h1 > .creation_date {
	grid-area: creation-date;
	// justify-self: right;
}

.whitelist_admin_main h1 > .nick {
	grid-area: nick;
	font-size: 15px;
	justify-self: left;
    max-width: 130px;
    overflow: auto;
}

.whitelist_admin_main h1 > .age {
	grid-area: age;
	// justify-self: right;
}

.whitelist_admin_main h1 > .closer {
	grid-area: closer;

	width: 30px;
	height: 30px;
	border-radius: 30px;

	background: url('./../img/close.svg') center no-repeat;
	background-size: 50%;
	background-color: #f44336;

	box-shadow: 0px 1px 5px #0008;

	// transition: background-size 100ms ease-in-out;
}

.whitelist_admin_main h1 > .closer:hover {
	background-color: #e57373;
	// background-size: 55%;
}

.whitelist_admin_main .show_btn {
	margin: 10px;
	padding: 10px;
	width: 100px;
	box-shadow: 0px 1px 4px #0008;
	background-color: #009688;
	color: #fff;
	font-weight: bold;
	border-radius: 20px;
}

.whitelist_admin_main .show_btn:hover {
	background-color: #4DB6AC;
	box-shadow: 0px 2px 6px #0008;
}

///////////////////////////////////////////////

.user_wl_focused {
	margin-top: 20px;
}

.user_wl_focused > h1 {
	display: grid;
	margin: 0px;

	// grid-template-areas: "separator nick age creation-date closer";
	grid-template-areas: "creation-date nick age closer";
	// grid-template-columns: 100px auto fit-content(100%) auto 100px;
	grid-template-columns: 150px auto 100px 50px;
	align-items: center;

	@media screen and (max-width: $max_w2) {
		grid-template-areas: "creation-date closer" "nick age";
		grid-template-columns: auto fit-content(100%);
		grid-row-gap: 10px;
		& > .closer {
			justify-self: right;
		}
		& > .nick, & > .creation_date {
			justify-self: left !important;
		}
	}

	@media screen and (max-width: 350px) {
		grid-template-areas: "closer" "creation-date" "nick" "age";
		grid-template-columns: auto;

		& > *:not(.closer) {
			justify-self: center !important;
		}
	}

	border-bottom: 2px solid #888;
	padding-bottom: 10px;

	font-size: 17px;
}

.user_wl_focused > h1 > .nick {
	justify-self: center;
}

.user_wl_focused > .QandA > p {
	font-size: 13px;
}

.user_wl_focused > .QandA > h4 {
	margin-bottom: 0px;
	margin-top: 40px;
}

.user_wl_focused > .QandA > p:not(:last-child) {//question container
	border-bottom: 1px solid #9dafb7;
}

.user_wl_focused > .QandA > p > label {//question
	display: block;
	font-weight: bold;
}

.user_wl_focused > .QandA > p > span {//answer
	padding: 10px 0px;
	display: block;
	word-break: break-all;
}

.control_buttons > button {
	font-weight: bold;
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
	margin: 0px 5px;
	width: 150px;
	background-color: #fff;

	box-sizing: border-box;
}

.control_buttons > button:hover {
	border-width: 2px;
	margin-bottom: -1px;
	margin-top: -1px;
}

.control_buttons > button.accept {
	color: #8BC34A;
	border-color: #8BC34A;
}

.control_buttons > button.reject {
	color: #f44336;
	border-color: #f44336;
}