.info_label {
	display: block;
	margin: 20px 0px;
	font-weight: bold;
}

.wl_container h2 .user_nick {
	font-weight: bold;
}

.wl_container .questions {
    display: block;
}

.wl_container .questions > p {
	font-size: 13px;
}

.wl_container .questions > h4 {
	margin-bottom: 0px;
	padding: 0px;
	font-weight: bold;
	// background: red;
	width: 100%;
	display: grid;
	grid-template-columns: auto fit-content(100%) auto;
	grid-template-areas: "left center right";
	grid-area: center;
	align-items: center;
	justify-items: center;
}

.wl_container .questions > h4::before {
	grid-area: left;
}

.wl_container .questions > h4::after {
	grid-area: right;
}

.wl_container .questions > h4::before, .wl_container .questions > h4::after {
	content: " ";
	display: block;
	width: 90%;
	height: 1px;
	background: #78909C;
}

.wl_container .questions > p:not(:last-child) {//question container
	border-bottom: 1px solid #9dafb7;
}

.wl_container .questions > p > label {//question
	display: block;
	font-weight: bold;
}

.wl_container .questions > p > input, .wl_container .questions > p > textarea {//answer
	width: 100%;
	padding: 5px 5px;
	margin-top: 5px;
}

.wl_container .questions > p > textarea {
	height: 65px;
	max-width: 100%;
}


.wl_container .questions > p {
	padding: 10px 5px;
}

.wl_container .questions > div > input {//answer input
	display: block;
    width: 100%;
}

/* RESULT ICON INDICATORS */
.wl_container .accepted_icon, .wl_container .rejected_icon {
	font-size: 60px;
	margin: auto;
	margin-top: 20px;
}

.wl_container .accepted_icon {
	color: #8BC34A;
}

.wl_container .rejected_icon {
	color: #ef5350;
}